.embla {
  overflow: hidden;

  --slide-spacing: 30px;
  --slide-size: 100%;

  &__viewport {
    overflow: hidden;
  }

  &__container {
    display: flex;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  &__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    border: 3px solid #b6dcfe;
    border-radius: 7px;
    background: var(--color-blue);
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
  }

  &__dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #bdbdbd;
    border: 1px solid #b6dcfe;
    display: flex;

    &--selected {
      background: var(--color-blue);
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  &__progress {
    position: relative;
    height: 4px;
    justify-self: flex-end;
    align-self: center;
    width: 100%;
    margin-top: 28px;
    overflow-y: hidden;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: var(--color-khaki-light);
      z-index: 1;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &-bar {
      background-color: var(--color-dark-brown);
      position: absolute;
      width: 100%;
      top: 1px;
      height: 2px;
      z-index: 2;
      left: -100%;
      transform: translate3d(0%,0px,0px);
    }
  }
}

@media screen and (min-width: 1024px) {
  .embla {
    &__progress {
      &-bar {
        top: 0;
        height: 4px;
      }
    }
  }
}
