.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s;
  background: rgba(70, 71, 71, 0.4);
  cursor: pointer;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 105;
  }

  &__table {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__ceil {
    display: table-cell;
    vertical-align: middle;
  }

  &__show,
  &__close {
    cursor: pointer;
  }

  &__close {
    top: 25px;
    right: 25px;
    position: absolute;
    z-index: 5;
  }

  &__content {
    background: #f5f5f5;
    position: relative;
    cursor: default;
  }
}
