.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s;
  background: rgba(3, 4, 5, 0.3);
  cursor: pointer;
  position: fixed;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 105;
  }

  &__table {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__ceil {
    display: table-cell;
    vertical-align: middle;
  }

  &__show,
  &__close {
    cursor: pointer;
  }

  &__close {
    top: 20px;
    right: 10px;
    position: absolute;
    z-index: 5;

    svg {
      width: 30px;
    }
  }

  &__content {
    background: var(--color-white);
    padding: 24px 10px 30px;
    position: relative;
    max-width: 320px;
    margin: 50px auto;
    cursor: default;
  }
}
