@import './common/fonts.css';

@import './admin/common/base.css';

.wp-block-post-content {
  @nested-import './common/reset.css';
  @nested-import 'normalize.css';
  @nested-import './common/tools.css';

  @nested-import './components/modal.css';
  @nested-import './../../modules/swiper-master/dist/swiper-bundle.css';

  @nested-import './blocks/main/first/style.css';
}
