@import './common/fonts.css';
@import './common/reset.css';
@import 'normalize.css';
@import './common/base.css';
@import './common/tools.css';

@import './components/swiper.css';
@import './components/modal.css';

@import './partials/header.css';
@import './partials/footer.css';
