.wp-block-post-content {
  font-family: var(--font-jost);
  font-weight: 400;
  position: relative;
  font-size: 15px;
  line-height: normal;
  color: var(--color-dark-brown);
  background: var(--color-cream);
  isolation: isolate;
  --color-cream: #f5f3ec;
  --color-dark-brown: #3B3630;
  --color-taupe: #70604E;
  --color-sand: #D6CDBE;
  --color-khaki-light: #C8BFA6;
  --color-beige: #E6E1CF;
  --color-red-orange: #DE4010;
  --font-jost: 'Jost', sans-serif;

  .img {
    &--full {
      width: 100%;
      height: 100%;

      :is(img, video, picture, iframe) {
        width: 100%;
        height: 100%;
      }

      img {
        object-fit: cover;
      }
    }

    &--adaptive, &--adaptive_1024, &--adaptive_1600 {
      img {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}


@media screen and (min-width: 640px) {
  .wp-block-post-content {
    .img {
      &--adaptive {
        img {
          display: none;

          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .wp-block-post-content {
    .img {
      &--adaptive {
        &_1024 {
          img {
            display: none;

            &:nth-child(2) {
              display: block;
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1600px) {
  .wp-block-post-content {
    .img {
      &--adaptive {
        &_1600 {
          img {
            display: none;

            &:nth-child(2) {
              display: block;
            }
          }
        }
      }
    }
  }
}
