.wp-block-post-content {
  font-family: var(--font-manrope);
  font-weight: 400;
  position: relative;
  font-size: 12px;
  line-height: 140%;
  isolation: isolate;

  --font-manrope: 'Manrope', sans-serif;
  --color-blue: #a5cded;
  --color-ivory: #ede2d6;
  --color-light-gray: #f1f1f1;
  --color-gray: #e8e8e8;
  --color-white: #fff;
  --color-text: #030405;
  --color-dark-blue: #66aee8;
}


@media screen and (min-width: 1024px) {
  .wp-block-post-content {
    font-size: fluid-type(1024px, 1440px, 12px, 15px);
  }
}

@media screen and (min-width: 1440px) {
  .wp-block-post-content {
    font-size: fluid-type(1440px, 1920px, 15px, 16px);
  }
}
