.first {
  min-height: 580px;
  padding: 48px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--color-cream);

  &__text {
    max-width: 506px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-top: 12px;
    max-width: 400px;
  }

  &__link {
    color: var(--color-cream);
  }
}

@media screen and (min-width: 640px) {
  .first {
    min-height: 800px;

    &__link {
      margin-top: 30px;
    }

    &__bg {
      img {
        object-position: 15%;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .first {
    &__subtitle {
      margin-top: 18px;
    }
  }
}
