:root {
  --color-cream: #f5f3ec;
  --color-dark-brown: #3B3630;
  --color-taupe: #70604E;
  --color-sand: #D6CDBE;
  --color-khaki-light: #C8BFA6;
  --color-beige: #E6E1CF;
  --color-red-orange: #DE4010;

  --font-jost: 'Jost', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-jost);
  font-weight: 400;
  position: relative;
  font-size: fluid-type(360px, 640px, 15px, 17px);
  line-height: 130%;
  color: var(--color-taupe);
  background: var(--color-cream);
  isolation: isolate;
  padding-top: 75px;
}

.img {
  &--full {
    width: 100%;
    height: 100%;

    :is(img, video, picture, iframe) {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  &--adaptive, &--adaptive_1024, &--adaptive_1600 {
    picture {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}


@media screen and (min-width: 640px) {
  .img {
    &--adaptive {
      picture {
        display: none;

        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .img {
    &--adaptive {
      &_1024 {
        picture {
          display: none;

          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1600px) {
  .img {
    &--adaptive {
      &_1600 {
        picture {
          display: none;

          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
}
