:root {
  --font-manrope: 'Manrope', sans-serif;
  --color-blue: #a5cded;
  --color-ivory: #ede2d6;
  --color-light-gray: #f1f1f1;
  --color-gray: #e8e8e8;
  --color-white: #fff;
  --color-text: #030405;
  --color-dark-blue: #66aee8;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  position: relative;
  isolation: isolate;
  padding-top: 115px;
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 145px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding-top: 140px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1700px) {
  body {
    font-size: 16px;
  }
}
