@font-face {
  font-family: 'Manrope';
  src: url('@fonts/manrope/Manrope-Regular.woff2') format('woff2'),
  url('@fonts/manrope/Manrope-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('@fonts/manrope/Manrope-Bold.woff2') format('woff2'),
  url('@fonts/manrope/Manrope-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
