*,
*::before,
*::after {
  box-sizing: border-box;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;

  &:hover {
    color: var(--color-dark-blue);
  }
}

svg {
  height: auto;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
  max-width: 100%;
  width: 100%;
}

.img {
  &--full {
    width: 100%;
    height: 100%;

    :is(img, video, picture, iframe) {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }
}

.section {
  padding-top: 70px;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: var(--color-text);
    margin-bottom: 40px;
  }
}
